.btn-green-light {
    border: 1px solid #90a959;
    background-color: white;
    color: #90a959;
}

.btn-blue-light {
    border: 1px solid #6495ED;
    background-color: white;
    color: #6495ED;
}

.btn-orange-light {
    border: 1px solid #EA9123;
    background-color: white;
    color: #EA9123;
}
