<div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-3">
            <h5>ID Column: <select ng-model="planDataDisplay.id_prefix" ng-options="x for x in contexts"></select></h5>
            <div ng-drop="true" ng-drop-success="onDropCompleteInner($data,$event, 'id_column')" style="border: 1px solid black; min-height: 100px; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
                <div ng-if="planData.id_column" class="btn-group" role="group" aria-label="...">


                    <button class="btn btn-blue-light" style="margin-left: 1px;">
                        {{planData.id_column}}
                    </button>


                </div>
            </div>
            <div ng-if="planData.id_column" class="btn-group" role="group" aria-label="...">
                <h5><span class="label label-primary">Sample:</span> {{planData.id_column_preview}}</h5>
                <!--<button class="btn btn-blue-light" ng-drag="false" style="margin-left: 1px;" ng-center-anchor="{{centerAnchor}}">
                    {{planData.id_column_preview}}
                </button>-->
            </div>

        </div>
        <div class="col-md-3">
            <h5>Node Name Column: </h5>
            <div ng-drop="true" ng-drop-success="onDropCompleteInner($data,$event, 'node_name_column')" style="border: 1px solid black; min-height: 100px; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
                <div ng-if="planData.node_name_column" class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-green-light" ng-drag="true" style="margin-left: 1px;" ng-drag-data="planData.node_name_column" ng-center-anchor="{{centerAnchor}}">
                        {{planData.node_name_column}}
                    </button>



                </div>
            </div>
            <div ng-if="planData.node_name_column" class="btn-group" role="group" aria-label="...">
                <h5><span class="label label-primary">Sample:</span> {{planData.node_name_column_preview}}</h5>
                <!--<button class="btn btn-green-light" ng-drag="false" style="margin-left: 1px;" ng-center-anchor="{{centerAnchor}}">
                    {{planData.node_name_column_preview}}
                </button>-->
            </div>
        </div>
        <div class="col-md-6">
            <h5>Property Columns: </h5>
            <div ng-drop="true" ng-drop-success="onDropCompleteInner($data,$event,'property_columns')" style="border: 1px solid black; min-height: 100px; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
                <div  role="group" aria-label="...">

                    <!--<button ng-repeat="obj in planData.property_columns" class="btn btn-orange-light" ng-drag="true" style="margin-right: 8px; margin-bottom: 8px;"
                            ng-drag-data="obj" ng-center-anchor="{{centerAnchor}}">
                        {{obj}}
                    </button>-->

                    <div class="btn-group" ng-repeat="obj in planData.property_columns">
                        <button class="btn btn-orange-light" style="margin-left: 1px;" data-toggle="dropdown">
                            {{obj}} <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a ng-click="planDataDisplay.property_columns[$index] = planDataDisplay.property_columns[$index].replace('::string','').replace('::integer','').replace('::float','') + '::string'">String</a></li>
                            <li><a ng-click="planDataDisplay.property_columns[$index] = planDataDisplay.property_columns[$index].replace('::string','').replace('::integer','').replace('::float','') + '::integer'">Integer</a></li>
                            <li><a ng-click="planDataDisplay.property_columns[$index] = planDataDisplay.property_columns[$index].replace('::string','').replace('::integer','').replace('::float','') + '::float'">Float</a></li>
                        </ul>
                    </div>


                </div>
            </div>
            <div ng-if="planData.property_columns" class="btn-group" role="group" aria-label="...">
                <h5 ng-repeat="prevItem in planData.property_columns_preview" ng-show="$index < 1">
                    <span class="label label-primary">Sample:</span> {{prevItem}}
                </h5>
               <!-- <button class="btn btn-orange-light" ng-drag="false" ng-repeat="prevItem in planData.property_columns_preview" ng-show="$index < 3" style="margin-left: 1px;" ng-center-anchor="{{centerAnchor}}">
                    {{prevItem}}
                </button>-->
            </div>
        </div>
    </div>
</div>
